
<div class = "top">

<h1 class = 'name'><span class="label label-success">MY BLOG!</span></h1>
<article class='explain'>
    <ul>
        <li>日常を書き留めます</li>
        <li>bootstrapを使ってページ作成！</li>
    </ul>
</article>

</div>
