
<section class="main-header">
 <img src="<%= asset_path "img_7663.jpg" %>">
</section>
<h1 class = 'name'><span class="label label-success">MY BLOG!</span></h1>
<div class='explain'>
    <ul>
        <li>日常を書き留めます</li>
        <li>bootstrapを使ってページ作成！</li>
    </ul>
</div>