h1 {
  text-align: center;
  margin-bottom: 20px;
}
.sign {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-control {
  width: 300px;
  height:45px;
  margin: auto;
  margin-bottom: 10px;
}
.text-muted {
    color: #6c757d;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
/*以下記入*/
label {
  display: inline;
}
.checkbox {
  margin: 0;
}
